<a href="/areas">Areas Index</a> |
<a href="/trails">Trails Index</a>

<h1><%= @trail.name %></h1>
<p>Trail Name: <%= @trail.name %></p>
  <p>Difficulty: <%= @trail.difficulty %></p>
  <p>User Rating: <%= @trail.rating %></p>
  <p>Trail Distance: <%= @trail.length %></p>
  <p>Trail Open?: <%= @trail.open %></p>
  <p>--------------------------------</p>