<h1><%= @goulding.name %></h1>
<p>Trail Name: <%= @goulding.name %></p>
  <p>Difficulty: <%= @goulding.difficulty %></p>
  <p>User Rating: <%= @goulding.rating %></p>
  <p>Trail Distance: <%= @goulding.length %></p>
  <p>Trail Open?: <%= @goulding.open %></p>
  <p>--------------------------------</p>