<h1><%= @area.name %></h1>
<h4>There are <%= @area.trail_count %> trails in this area.</h4>
  <p>Region: <%= @area.region %> </p>
  <p>Peak Elevation: <%= @area.peak_elevation %> </p>
  <p>Alpine? <%= @area.alpine %> </p>