<a href="/areas">Areas Index</a> |
<a href="/trails">Trails Index</a> |
<a href="/areas/<%= @area.id %>/trails">Area Trails</a>

<h1><%= @area.name %></h1>
<h4>There are <%= @area.trail_count %> trails in this area.</h4>
  <p>Region: <%= @area.region %> </p>
  <p>Peak Elevation: <%= @area.peak_elevation %> </p>
  <p>Alpine? <%= @area.alpine %> </p>

<a href="/areas/<%= @area.id %>/edit">Update Area</a>
