<a href="/areas">Areas Index</a> |
<a href="/trails">Trails Index</a>

<h1><%= @area.name %> Trails </h1>
<% @area.trails.each do |trail| %>
  <h3><%= trail.name %></h3>
  <p>Difficulty: <%= trail.difficulty %></p>
  <p>User Rating: <%= trail.rating %></p>
  <p>Trail Distance: <%= trail.length %></p>
  <p>Trail Open?: <%= trail.open %></p>
  <p>--------------------------------</p>
<% end %>

<a href="/areas/#{@area.id}/trails/new">Create Trail</a>
